#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}
.bg {
  width: 100vw;
  height: 100vh;
}
button {
  background-color: #888;
}
.white {
  background-color: white;
}
.black {
  background-color: black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
}
